.FloatingBox {
  min-width: 190px;
  max-width: 560px;
  height: 190px;
  background-color: var(--dark-80);
  filter: drop-shadow(3px 4px 0px rgba(0, 0, 0, 0.9));
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* isolation: isolate; */
}

/* .FloatingBox--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(330deg, var(--dark-100), transparent),
    url("./../../images/gradient_dark-noise.svg");
  filter: contrast(120%) brightness(350%);
  z-index: -1;
} */

/* .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-color: var(--dark-80);
  z-index: -1;
} */

.FloatingBox--logo {
  max-height: 75%;
  padding: 25%;
}

.FloatingBox--image {
  max-height: 100%;
  object-fit: contain;
}

.FloatingBox--highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--dusty-blue-100);
  opacity: 0;
  z-index: 0;
}

.FloatingBox:hover .FloatingBox--highlight {
  opacity: 0.5;
}

.FloatingBox:hover .FloatingBox--title {
  background-color: var(--baby-blue-100);
}

.FloatingBox--title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  font-size: large;
  text-shadow: 0.5px 1px 0px rgba(0, 0, 0, 0.9);
  padding-left: 12px;
  color: var(--light);
  width: 100%;
  height: 35px;
  z-index: 1;
  background-color: var(--dark-100-50);
}
