.FloatingBox {
  width: 170px;
  height: 170px;
  background-color: var(--dark-80);

  filter: drop-shadow(3px 4px 0px rgba(0, 0, 0, 0.9));
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FloatingBox--logo {
  max-height: 100%;
  padding: 24px;
}

.FloatingBox--image {
  max-height: 100%;
  object-fit: contain;
  /* margin-top: 15%; */
}

.FloatingBox--content {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--dusty-blue-100);
  opacity: 0;
  z-index: 1;
}

.FloatingBox :hover {
  /* visibility: visible; */
  opacity: 0.5;
}

.FloatingBox--title {
  display: flex;
  align-items: center;
  justify-content: left;
  position: absolute;
  font-size: 12px;
  text-shadow: 0.5px 1px 0px rgba(0, 0, 0, 0.9);
  padding-left: 12px;
  color: var(--light);
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  height: 35px;
  background-color: var(--dark-100-50);
}

.FloatingBox--title > .bold-main {
  margin-bottom: 0;
}
