.TextBox {
  max-width: 840px;
  text-align: justify;
}

.TextBox--title {
  text-align: center;
}

.TextBox--link {
  float: inline-start;
  font-size: larger;
  background-color: var(--baby-blue-100);
  padding: 12px;
  margin-top: 46px;
  border-radius: 25px;
  color: var(--light);
}
