.ExperienceList {
  background-color: var(--light);
  margin-top: 12px;
  padding: 12px;
  min-width: 320px;
  max-width: 500px;
  margin-right: 24px;
}

@media (max-width: 1100px) {
  .ExperienceList {
    margin-right: 0;
  }
}
