.Resume {
  margin: 10vh 5vw;
}

@media (max-width: 1100px) {
  .Resume {
    margin: 0 2vw;
  }
}

.skill-column {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1100px) {
  .skill-column {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 10vw;
  }
}

@media (max-width: 700px) {
  /* .SkillList {
    margin: 0;
  } */

  .skill-column {
    flex-direction: column;
  }
}
