.Home {
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
  margin-top: 33vh;
}

@media (max-width: 840px) {
  .Home {
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
    gap: 8vh;
  }
}
