.Portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Portfolio--heading {
  /* margin-bottom: 12px; */
  color: var(--light);
}

.Portfolio--category-layout {
  display: flex;
  flex-direction: column;
  margin: 24px;
  width: 70dvw;
  width: 70vw;
  max-width: 1400px;
}

.Portfolio--float-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 97px;
}

.left-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center-aligned {
  align-items: center;
}
