.ProjectPage {
  display: flex;
  justify-content: center;
  max-width: 1100px;
}

.ProjectPage--backlink {
  position: absolute;
  left: 10px;
  font-size: 42px;
  text-decoration: none;
}

.ProjectPage--backlink:hover {
  background-color: var(--dusty-blue-80);
}

.TextBox {
  order: 1;
  flex-grow: 2;
  max-width: 550px;
}

.imgLeft {
  order: 0;
  max-width: 200px;
}

.imgRight {
  max-width: 200px;
  order: 2;
}

.ProjectPage--flex {
  display: flex;
  margin-top: max(10vh, 64px);
  flex-direction: row;
  justify-content: space-evenly;
  gap: 24px;
  align-items: center;
}

@media (max-width: 700px) {
  .TextBox {
    order: -1;
  }

  .ProjectPage--flex {
    flex-wrap: wrap;
  }
}
